<div class="grid-header">
  <div
    class="grid-cell header"
    *ngFor="let col of columns"
    [style.width.px]="col.width || 140"
  >
    {{ col.header }}
  </div>
</div>

<cdk-virtual-scroll-viewport itemSize="42" class="grid-viewport">
  <div
    class="grid-row"
    *cdkVirtualFor="let row of rows; trackBy: trackRow"
  >
    <div
      class="grid-cell"
      *ngFor="let col of columns"
      [style.width.px]="col.width || 140"
    >
      <ng-container [ngSwitch]="col.type">

        <input
          *ngSwitchCase="'text'"
          class="cell-input"
          [value]="row[col.field]"
          (input)="row[col.field] = $any($event.target).value"
        />

        <textarea
          *ngSwitchCase="'textarea'"
          class="cell-textarea"
          [value]="row[col.field]"
          (input)="row[col.field] = $any($event.target).value"
        ></textarea>

        <select
          *ngSwitchCase="'select'"
          class="cell-select"
          [value]="row[col.field]"
          (change)="row[col.field] = $any($event.target).value"
        >
          <option *ngFor="let opt of col.options" [value]="opt.value">
            {{ opt.label }}
          </option>
        </select>

        <input
          *ngSwitchCase="'date'"
          type="date"
          class="cell-input"
          [value]="row[col.field]"
          (input)="row[col.field] = $any($event.target).value"
        />

      </ng-container>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
