.grid-viewport {
    height: 70vh;
    width: 100%;
    border: 1px solid #ddd;
    overflow: auto;
}
.grid-row {
    display: flex;
    height: 50px;
    border-bottom: 1px solid #eee;
}
.grid-cell {
    min-width: 150px;
    border-right: 1px solid #eee;
    display: flex;
    align-items: center;
}
input,
textarea,
select {
    width: 100%;
    height: 100%;
    border: none;
    padding: 5px;
    font-family: inherit;
}
textarea {
    resize: none;
}
